asgiref==3.11.1
coverage==7.13.4
decorator==5.2.1
Django==6.0.2
django-environ==0.13.0
djangorestframework==3.16.1
Faker==40.8.0
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.4.3
pillow==11.3.0
proglog==0.1.12
psycopg2-binary==2.9.11
python-dotenv==1.2.2
ruff==0.15.5
sqlparse==0.5.5
tqdm==4.67.3
